.navbar{
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    border-bottom:1px solid #3F4E65;
    @media (max-width:600px) {
        display: none;
    }
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            align-items: center;
            a{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &:first-child{
                    margin-right: 41px;
                    @media (max-width:1200px) {
                        margin-right: 25px;
                    }
                }
                img{
                    width: 13px;
                    height: 16px;
                    margin-right: 18px;
                }
                h4{
                    @media (max-width:1000px) {
                        display: none;
                    }
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;
                    color:#3F4E65;
                    span{
                        font-weight: 300;
                    }
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            .item{
                padding: 0 40px;
                border-left:  1px dashed #3F4E65;
                @media (max-width:1200px) {
                    padding: 0 20px;
                }
                &:first-child{
                    padding-left: 0;
                    padding-right: 40px;
                    border-left: none;
                }
                &:last-child{
                    padding-right: 0;
                    padding-left: 40px;
                    
                }
                font-size: 14px;
                font-weight: 400;
                color:#3F4E65;
                .active{
                    color:red;
                }
            }
        }

    }
}