.tovars{
    border:1px solid blue;
    padding: 100px 0;
    @media (max-width:1200px) {
        padding: 80px 0;
    }
    @media (max-width:900px) {
        padding: 65px 0;
    }
    @media (max-width:600px) {
        padding: 50px 0;
    }
    .inner{
        .text{
            font-size: 40px;
            line-height: 48px;
            font-weight: 500;
            margin-bottom: 50px;
            color:#000;
            span{
                color:#FFC85E;
            }
            @media (max-width:900px) {
                font-size: 36px;
                line-height: 40px;
            }
            @media (max-width:800px) {
                font-size: 30px;
                line-height: 35px;
            }
            @media (max-width:600px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .items{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
}